<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Approval System - Successful Image</title>
</head>
<body>
    <h2>Image Approved!</h2>
    <p>Your uploaded image has been approved.</p>
    <p>Image Details:</p>
    <ul>
        <li><strong>Authentication Token:</strong> {{ authToken }}</li>
        <li><strong>X Location:</strong> {{ x_loc }}</li>
        <li><strong>Y Location:</strong> {{ y_loc }}</li>
    </ul>
    <p>Image Files:</p>
    <strong>Cropped Image:<br></strong>
    <img src="http://fa23-cs340-080.cs.illinois.edu:5001/image" alt="Cropped Image">
    <strong><br>Tile Image:<br></strong>
    <img src="http://fa23-cs340-080.cs.illinois.edu:5001/tile" alt="Tile Image">
    <p>Options:</p>
    <ul>
        <li><a href="/castVote">Vote now</a></li>
        <li><a href="/dashboard">Go To Dashboard</a></li>
    </ul>
</body>
</html>